* {
  text-align: center;
}

.panel {
  width: 400px;
  margin: 40px auto;
  border: solid 1px black;
  padding: 20px;
}

img {
  margin-bottom: 10px;
  height: 150px;
}

button {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
